.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: #ecf0f1;
    background: url('../../../core/assets/home-background.svg') no-repeat bottom;
    -webkit-background-size: cover;
}

.content-registrar {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 30px 10px rgb(0 0 0 / 20%);
}

.content-title-registrar {
    text-align: center;
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.label-registrar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    background-color: #ecf0f1;
    margin: 8px 0;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    gap: .5em;
}

.icon-registrar-input {
    margin-left: 8px;
}

.input-registrar {
    height: 45px;
    width: calc(100% - 24px);
    border: none;
    background-color: #ecf0f1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    align-items: center;
    padding: 0;
}

.link {
    font-size: .75em;
    align-self: flex-start;
    font-weight: bold;
    color: black;
    transition:  all .5s;
}

.link:hover {
    color: var(--primary-color);
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    outline: none;
}

.btn-second {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-hover-color);
}