@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #ecf0f1;
}

.first-content {
    display: flex;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 90%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
} 

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color:#fff;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color:#fff
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
    flex: 1 0 auto;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 0 auto;
}

.submit-login {
    border-radius: 15px;
    text-transform: uppercase;
    color: rgb(8, 0, 0);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.submit-login-primary {
    background-color: transparent;
    border: 1px solid #58af9b;
    transition: background-color .5s;
}

.submit-login-primary:hover {
    background-color: #58af9b;
    border: 1px solid #ffffff;
    color: #58af9b;
}