.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: #ecf0f1;
    background: url('../../../core/assets/home-background.svg') no-repeat bottom;
    -webkit-background-size: cover;
}

.content-registrar {
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 30px 10px rgb(0 0 0 / 20%);
}

.content-above {
    border-bottom: 1px solid #e4e4e4;
}

.content-title-registrar {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--primary-color);
}

.content-subtitle-registrar {
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    font-size: 16px;
    color: var(--primary-color);
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 400px;
    margin: 0 auto;
}

.label-registrar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    background-color: #ecf0f1;
    margin: 14px 0;
    /* border: 1px solid var(--primary-color); */
    border-radius: 10px;
    gap: .5em;
}

.icon-div {
    display: inline-block;
}

.icon-registrar-input {
    margin-left: 8px;
}

.icon-show-input {
    margin-right: 8px;
    cursor: pointer;
    color: #696a6a;
    transition: all .25s;
}

.icon-show-input:hover {
    color: #272828;
}

.input-registrar {
    height: 45px;
    width: calc(100% - 24px);
    border: none;
    background-color: #ecf0f1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    align-items: center;
    padding: 0;
}

.link {
    font-size: .75em;
    align-self: flex-start;
    font-weight: bold;
    color: black;
    margin: 0 0 10px 0;
    text-decoration: underline;
    transition:  all .5s;
}

.link:hover {
    color: var(--primary-color);
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
    outline: none;
}

.btn-second {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid var(--primary-color);
    color: var(--primary-hover-color);
}

.invalid-email {
    color: red;
}

@media (max-width: 508px) {
    .form {
        width: 290px;
    }
}